Repository eclipse-edc/RegistrationService, pull requests merged in 2023-03, with the labels that each got.

#74 chore: upgrade to gradle 8, upgrade the shadow plugin
  core/registration-service-client/build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  launcher/build.gradle.kts
  registration-service-cli/build.gradle.kts
  system-tests/launchers/participant/build.gradle.kts
Labels: build

#79 fix(CosmosParticipantStore): adds upsert manual semantic
  extensions/store/cosmos/participant-store-cosmos/src/main/java/org/eclipse/edc/registration/store/cosmos/CosmosParticipantStore.java
Labels: bug

#76 refactor: replace generated ApiClient with a manual one
  .github/workflows/verify.yaml
  build.gradle.kts
  core/registration-service-client/build.gradle.kts
  core/registration-service-client/src/main/java/org/eclipse/edc/registration/client/JsonWebSignatureHeaderInterceptor.java
  core/registration-service-client/src/main/java/org/eclipse/edc/registration/client/RegistryApiClient.java
  core/registration-service-client/src/main/java/org/eclipse/edc/registration/client/RegistryApiClientFactory.java
  core/registration-service-client/src/main/java/org/eclipse/edc/registration/client/RegistryApiClientImpl.java
  core/registration-service-client/src/main/java/org/eclipse/edc/registration/client/model/ParticipantDto.java
  core/registration-service-client/src/main/java/org/eclipse/edc/registration/client/response/ApiFailure.java
  core/registration-service-client/src/main/java/org/eclipse/edc/registration/client/response/ApiResult.java
  core/registration-service-client/src/test/java/org/eclipse/edc/registration/client/RegistryApiClientImplTest.java
  core/registration-service/src/main/java/org/eclipse/edc/registration/store/InMemoryParticipantStore.java
  extensions/store/cosmos/participant-store-cosmos/src/main/java/org/eclipse/edc/registration/store/cosmos/CosmosParticipantStore.java
  extensions/store/sql/participant-store-sql/src/main/java/org/eclipse/edc/registration/store/sql/SqlParticipantStore.java
  registration-service-cli/src/main/java/org/eclipse/edc/registration/cli/ClientUtils.java
  registration-service-cli/src/main/java/org/eclipse/edc/registration/cli/GetParticipantCommand.java
  registration-service-cli/src/main/java/org/eclipse/edc/registration/cli/ListParticipantsCommand.java
  registration-service-cli/src/main/java/org/eclipse/edc/registration/cli/RegistrationServiceCli.java
  registration-service-cli/src/test/java/org/eclipse/edc/registration/cli/ClientUtilsTest.java
  registration-service-cli/src/test/java/org/eclipse/edc/registration/cli/ParticipantsCommandTest.java
  registration-service-cli/src/test/java/org/eclipse/edc/registration/cli/TestUtils.java
  settings.gradle.kts
  spi/registration-service-store-spi/src/main/java/org/eclipse/edc/registration/store/spi/ParticipantStore.java
  system-tests/src/test/java/org/eclipse/edc/registration/client/RegistrationApiClientTest.java
  system-tests/src/test/java/org/eclipse/edc/registration/client/RegistrationApiCommandLineClientTest.java
  system-tests/src/test/java/org/eclipse/edc/registration/client/RegistrationServiceTestUtils.java
Labels: refactoring

#80 fix: cleanup version to fix release
  build.gradle.kts
  gradle.properties
  settings.gradle.kts
Labels: build
